<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-461">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact</span>
            <h2 class="cs-title">Give Us A Call!</h2>
            <a class="cs-call" href="tel:{{ client.phoneForTel }}">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/phone.svg" alt="phone icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Call Now</span>
                    <span class="cs-link-content">{{ client.phoneFormatted }}</span>
                </div>
            </a>
            <p class="cs-text">
                Get in touch with us to book a free quote or to ask any questions that you may have.
            </p>
        </div>
        <a href="" class="cs-cta">
            <!--Arrow Right-->
            <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="black" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="black" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
            <!--Wrapped in a span so it can be animated-->
            <span class="cs-cta-text">Get Free<br> Quote</span>
        </a>
    </div>
    <!--Palm Decoration-->
    <img class="cs-decoration" aria-hidden="true" src="../../assets/svgs/palm.svg" loading="lazy" decoding="async" alt="moon" width="735" height="803">
</section>
                                