<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1292">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/logo.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Your local, Ottawa painters that you can rely on for quality and professionalism. 
            </p>
            <a href="{{ client.email }}" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/mail.svg" alt="icon" width="24" height="24">
                {{ client.email }}
            </a>
            <a href="{{ client.phoneForTel }}" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/phone-fill.svg" alt="icon" width="24" height="24">
                {{ client.phoneFormatted }}
            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-li">
                <a href="/interior-painting" class="cs-link">Interior Painting</a>
            </li>
            <li class="cs-li">
                <a href="/exterior-painting" class="cs-link">Exterior Painting</a>
            </li>
            <li class="cs-li">
                <a href="/deck-staining" class="cs-link">Deck Staining</a>
            </li>
            <li class="cs-li">
                <a href="/commercial-painting" class="cs-link">Commercial Painting</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">About</span>
            </li>
            <li class="cs-li">
                <a href="/about" class="cs-link">About Us</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Locations</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" href="/kemptville">Kemptville</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" href="/kanata">Kanata</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" href="/orléans">Orléans</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" href="/contact">Ottawa</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" href="/contact">Contact Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" target="_blank" href="{{ client.socials.facebook }}">Facebook</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-link" target="_blank" href="{{ client.socials.instagram }}">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© {% year %}. 
            <a class="cs-copyright-link" href="/">{{ client.name }}</a>
            All Right Reserved.
        </span>
        <div class="credit">
            <span>Custom Designed and Coded by</span>
            <a href="https://www.newgrowthweb.ca" target="_blank" rel="noopener"> Casey at New Growth Web Services</a>
        </div>
    </div>
    <!--Floating Circles-->
    <div class="cs-floater" aria-hidden="true"></div>
</footer>
                                
                                