
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Hear What Our Past Clients Have to Say!</h2>
            <p class="cs-text">
                We're proud to have earned the trust of homeowners across Ottawa through our dedication to excellence in every painting project we undertake. Don't just take our word for it—read what our clients have to say about their experience.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Brandon Olsen
                    </span>
                </div>
                <p class="cs-review">
                    I can't recommend Oasis enough. They were flexible, efficient and very adaptable to help us getting moved into our new home. They went above and beyond to get everything done, and even did some extra finishes /touch ups above what we had agreed on.
                </p>
                <p class="cs-review">
                    Will 100% be using them again, and recommending them to everybody I know.
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Lorraine H
                    </span>
                </div>
                <p class="cs-review">
                    We recently had two bathrooms painted by Oasis painting. We saw some online reviews and decided to go with them. Matt came and gave us a quote promptly. The price was reasonable and included supplies (Sherwin-Williams). Will and Trevor were very personable and knowledgeable and did a great job. We definitely would recommend Oasis Painting to anyone for their painting services.
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Lindsey Thomsen
                    </span>
                </div>
                <p class="cs-review">
                    William and his team were outstanding! They recently painted my sister’s new house, who had a great experience, so I asked them to paint our entire condo - top to bottom. William provided a very reasonable quote and a realistic timeline and all went exactly as he said it would. The time and care they took resulted in a beautiful paint job and the place was left spotless.
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group hidden">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Dawn Parsons
                    </span>
                </div>
                <p class="cs-review">
                    Just wanted to start this by saying I never leave reviews. Oasis Painting painted my Ottawa apartment recently and it was honestly seamless. Very nice painters, knowledgeable, super easy to get along with and an excellent job overall. Very thankful for the end result and process - I would recommend!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Feruz Dglel
                    </span>
                </div>
                <p class="cs-review">
                    I recently hired Oasis Painting to paint my living room, and I am extremely pleased with the outcome. Matt and his team provided exceptional customer service, from offering valuable advice on colours to completing the job with meticulous attention to detail. I highly recommend!!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Gilda Stefanelli
                    </span>
                </div>
                <p class="cs-review">
                    Oasis painting was excellent. they painted my entire house and patched all previous drill holes and nails. They were professional, always on time, polite and very knowledgeable. I will 100% contact them again for any future work and I absolutely recommend them!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="/assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
        </ul>
        <div class="cs-button-solid read-more">Read More</div>
    </div>
    <!--Top Left Quote-->
    <img class="cs-quote1" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
    <!--Top Right Quote-->
    <img class="cs-quote2" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
</section>  