
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Your Home Deserves It</span>
            <h2 class="cs-title">Why Choose Us?</h2>
            <p class="cs-text">
                Transforming houses into stunning homes with meticulous attention to detail and exceptional service that sets us apart in Ottawa.
            </p>
        </div>
        <ul class="cs-card-group">
             <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/shield-heart.svg" alt="Shield with heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Client-Oriented</h3>
                <p class="cs-item-text">
                    Our team takes the time to understand your exact needs, communicates clearly throughout the project, and adjusts to your schedule.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/professionalism.svg" alt="briefcase icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Professionalism</h3>
                <p class="cs-item-text">
                    With years of industry experience, our skilled painters bring expertise and reliability to every project. We arrive on time, work efficiently, and maintain a tidy workspace.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/award.svg" alt="Ribbon icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">High-Quality Work</h3>
                <p class="cs-item-text">
                    We never cut corners. Using premium paints and materials, our meticulous preparation and application techniques ensure a flawless finish that stands the test of time.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="Shield with check icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Fully Insured Painters</h3>
                <p class="cs-item-text">
                    We are WSIB compliant and are a fully insured painting company. We have liability coverage up to 5 million dollars to protect you.
                </p>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/competitive-pricing.svg" alt="Coin and thumbs up icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Competitive Pricing</h3>
                <p class="cs-item-text">
                    Our competitive pricing and quality services make Oasis Painting the best bang for your buck painters in the Ottawa area.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/healthy.svg" alt="Low-VOC Paint Products icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Low-VOC Paint Products</h3>
                <p class="cs-item-text">
                    We are proud to be an eco-friendly painting contractor, using environmentally friendly, low-VOC paint products and safely disposing of all waste in a green way.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/certificate.svg" alt="Workplace & Heights Safety Trained icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Workplace & Heights Safety Trained</h3>
                <p class="cs-item-text">
                    All of our painters have workplace and height safety licenses per Ottawa, Ontario and Canadian regulations.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/schedule.svg" alt="Calendar icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Flexible Scheduling</h3>
                <p class="cs-item-text">
                    We offer flexible scheduling to serve all client needs. If you have strict scheduling needs, simply ask and we will try our best to get our house painters there at an ideal time for you!
                </p>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>               