---
title: 'Contact | Oasis Painting'
description: 'Contact Oasis Painting for a free quote! Reliable, expert painters serving homes and businesses with top-quality finishes.'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    {# <link rel="preload" as="image" href="{% getUrl '/assets/images/cabinets2.jpg' | resize({ width: 720, height: 774 }) | avif %}"/> #}
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 1200, height: 982, position: "top" }) |  avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 1200, height: 982, position: "top" }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 1200, height: 982, position: "top" }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 2800, height: 983 }) | avif %}" type="image/avif">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 2800, height: 982 }) | webp %}" type="image/webp">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 2800, height: 982 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/contact-banner.jpg" | resize({ width: 2800, height: 982 }) | jpeg %}" alt="Room with yellow wall and chair" width="2000" height="982" loading="eager" decoding="async" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="white"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1600">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get In Touch</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-1600" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1600" name="name" placeholder="Hue Jackson">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1600" name="email" placeholder="name@email.ca">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1600" name="phone" placeholder="613-623-9274">
                </label>
                <label class="cs-label cs-phone">
                    Location
                    <input class="cs-input" required type="text" id="location-1600" name="location" placeholder="Kanata, Orléans, Kemptville, etc.">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1600" placeholder="Please let us know a little about your project. If you have any questions for us, please ask us here and we will get back to you as soon as possible!"></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit Now</button>
            </form>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <a href="{{ client.bookingLink }}" target="_blank" class="cs-item">
                    <img src="../../assets/svgs/calendar.svg" alt="calendar icon">
                    <div class="info">
                        <span class="cs-header">Book Consultation Now</span>
                        <span class="cs-item-text">
                            Click here to book a free consultation with us            
                        </span>
                    </div>
                </a>
                <a href="mailto:{{client.email}}" class="cs-item">
                    <img src="../../assets/svgs/gmail.svg" alt="calendar icon">
                    <div class="info">
                        <span class="cs-header">Email Us</span>
                        <span class="cs-item-text">
                            Click here to email your questions to {{client.email}}
                        </span>
                    </div>
                </a>
                <a href="tel:{{client.phoneForTel}}" class="cs-item">
                    <img src="../../assets/svgs/phone-blue.svg" alt="calendar icon">
                    <div class="info">
                        <span class="cs-header">Call Us</span>
                        <span class="cs-item-text">
                            Click here or dial {{ client.phoneFormatted }}     
                        </span>
                    </div>
                </a>
            </ul>
            <picture class="cs-background">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 980 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 980 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 980 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 1494 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 1494 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 1494 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/palm.jpg" | resize({ width: 1044, height: 1494 }) | jpeg %}" alt="Palm tree" width="1044" height="1494" loading="eager" decoding="async" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
 
{% endblock %}