---
title: 'Deck Staining | Oasis Painting'
description: 'TODO'
permalink: 'deck-staining/'
eleventyNavigation:
    key: Deck Staining
    order: 300
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Deck Staining</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 1200, height: 982 }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 1200, height: 982 }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 1200, height: 982 }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 2800, height: 983 }) | avif %}" type="image/avif">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 2800, height: 982 }) | webp %}" type="image/webp">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 2800, height: 982 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/deck-staining-banner.png" | resize({ width: 2800, height: 982 }) | jpeg %}" alt="Person rolling stain on fence" width="2000" height="982" loading="eager" decoding="async" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 848, height: 950 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 848, height: 950 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 848, height: 950 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 1082, height: 1216 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 1082, height: 1216 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 1082, height: 1216 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/deck/deck-staining.jpg" | resize({ width: 1082, height: 1216 }) | jpeg %}" alt="Bedroom" width="1082" height="1216" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="../../assets/svgs/elipsis.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="../../assets/svgs/stripes.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Protect Your Deck</span>
            <h2 class="cs-title">Ottawa's <span class="highlight">Deck Staining</span> Experts</h2>
            <p class="cs-text">
                Your trusted deck staining professionals will help protect your exterior from the elements of Ottawa weather! From pressure washing to sanding and staining, we do it all to make sure you get the most out of your deck investment. Winters in Ottawa are harsh, extend the lifespan and improve the look of your deck with Oasis Painting!
            </p>
            <ul class="cs-list">
                <li class="cs-li">Thorough preparation process for maximum stain adhesion and longevity</li>
                <li class="cs-li">Weather-resistant formulations designed for Ottawa's harsh climate</li>
                <li class="cs-li">Premium penetrating stains that protect from within the wood</li>
                <li class="cs-li">5-star rated Ottawa painting professionals</li>
                <li class="cs-li">100% satisfaction guarantee on all work</li>
            </ul>
            <div class="cs-info">
                <div class="cs-flex">
                    <img class="cs-icon" loading="lazy" decoding="async" src="{% getUrl "/assets/images/matt.jpeg" | resize({ width: 104, height: 104 }) | avif %}" type="image/jpg" alt="profile">
                    <div class="cs-name-desc">
                        <span class="cs-name">Matt McNamee</span>
                        <span class="cs-desc">Co-owner of Oasis Painting</span>
                    </div>
                </div>
                <div class="cs-flex">
                    <img class="cs-icon" loading="lazy" decoding="async" src="{% getUrl "/assets/images/will.jpg" | resize({ width: 104, height: 104, position: "top" }) | avif %}" type="image/jpg" alt="profile">
                    <div class="cs-name-desc">
                        <span class="cs-name">William Dorken</span>
                        <span class="cs-desc">Co-owner of Oasis Painting</span>
                    </div>
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Started Now</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-2295">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <div class="cs-picture-wrapper1">
                <picture class="cs-picture cs-picture1">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck before stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">Before</span>
            </div>
            <!--Small Image-->
            <div class="cs-picture-wrapper2">
                <picture class="cs-picture cs-picture2">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck before stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">After</span>
            </div>
            <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/before-after-arrow.svg" alt="arrow" width="148" height="54">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Your Trusted Partners</span>
            <h2 class="cs-title">Ottawa's Trusted Deck Staining Professionals</h2>
            <p class="cs-text">
                Staining your deck is an effective way to protect it from the sun and moisture, while also getting a beautiful look! Ottawa winters are harsh on exterior wood surfaces - bring your deck or fence to its full potential with Oasis Painting! Our expert team takes proper care of deck surfaces with a thorough sanding, cleaning and staining process that yields long-term results time and again for our Ottawa clients!
            </p>
            <p class="cs-text">
                A beautifully stained deck, or fence, is one of the first things noticed on a home's exterior! Whether you are looking to sell, or want to add value to your property - Oasis Painting can help you get the most out of your deck or fence!
            </p>
            <a href="/contact" class="cs-button-solid">Book a Free Quote</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Quality in Every Step</span>
            <h2 class="cs-title">Our Expert Deck Staining Process For Ottawa Homes</h2>
        </div>
       <div class="cs-card-group">
       <div class="cs-group1">
            <div class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../../assets/svgs/clipboard.svg" alt="Thorough Preparation icon"
                        width="48" height="48"/>
                </picture>
                <h3 class="cs-h3">Thorough Preparation</h3>
                <p class="cs-item-text">
                    All areas are properly sanded, cleaned and prepared so they are ready for all Canadian seasons
                </p>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../../assets/svgs/target.svg" alt="Expert Application icon" width="32" height="32"/>
                </picture>
                <h3 class="cs-h3">Expert Application</h3>
                <p class="cs-item-text">
                    Our experienced team applies staining with precision, ensuring even coverage and clean lines.
                </p>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../../assets/svgs/clean.svg" alt="Complete Cleanup icon" width="32" height="32"/>
                </picture>
                <h3 class="cs-h3">Complete Cleanup</h3>
                <p class="cs-item-text">
                    We leave your space spotless, removing all painting materials and equipment.
                </p>
            </div>
        </div>
        <div class="cs-group2">
            <div class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../../assets/svgs/paint-can-open.svg" alt="Premium Materials icon" width="32" height="32"/>
                </picture>
                <h3 class="cs-h3">Premium Materials</h3>
                <p class="cs-item-text">
                    We use only high-quality stains and primers specially selected for Ottawa's climate conditions.
                </p>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../../assets/svgs/magnifying-glass.svg" alt="Detailed Inspection icon" width="32" height="32"/>
                </picture>
                <h3 class="cs-h3">Detailed Inspection</h3>
                <p class="cs-item-text">
                    We conduct a comprehensive quality check before considering the job complete.
                </p>
            </div>
            <picture class="cs-waves">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100" class="grey">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 488, height: 707 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 488, height: 707 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 488, height: 707 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 610, height: 882 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 610, height: 882 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 610, height: 882 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/deck/sanding.png" | resize({ width: 610, height: 882 }) | jpeg %}" alt="Man painting a white wall" width="610" height="882" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 488, height: 707 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 488, height: 707 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 488, height: 707 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 610, height: 882 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 610, height: 882 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 610, height: 882 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/deck/cleaning.png" | resize({ width: 610, height: 882 }) | jpeg %}" alt="Man painting a white wall" width="610" height="882" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">The Foundation of Quality Results</span>
            <h2 class="cs-title">Preparation is Key to Long-Lasting Deck Finishes</h2>
            <p class="cs-text">
                Oasis Painting takes pride in doing our work right. With each project, our process is specific to your needs, as well as the needs of the project. We make sure that with each deck project the sanding phase, washing phase and staining phase are all handled with the utmost attention to detail. 
            </p>
            <p class="cs-text">
                Oftentimes the most overlooked, yet most critical aspect of a painting project comes before painting or staining, in the preparation. This is critical to the longevity of the painting or staining service itself. Wood surfaces are often the most tedious to deal with when it comes to painting and staining projects. Our deck preparation process is thorough to ensure that before painting or staining, the surface is sanded, washed and cleaned. All of this is to ensure that the wood surface is in an ideal state to absorb the stain or to provide adhesion to the paint.
            </p>
            <p class="cs-text">
                 Our attention to detail in the deck sanding and cleaning phase promotes long-term results in decks to get the maximum number of years between needed re-applications. Choose Oasis Painting, your trusted deck painting company in Ottawa - ensure that your project is done the right way!
            </p>
            <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side standard            -->
<!-- ============================================ -->

<section id="sbsr-1100" class="standard" class="grey">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 488, height: 707 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 488, height: 707 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 488, height: 707 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 610, height: 882 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 610, height: 882 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 610, height: 882 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/deck/deck-staining.png" | resize({ width: 610, height: 882 }) | jpeg %}" alt="Man painting a white wall" width="610" height="882" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 488, height: 707 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 488, height: 707 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 488, height: 707 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 610, height: 882 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 610, height: 882 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 610, height: 882 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/deck/staining-products.jpg" | resize({ width: 610, height: 882 }) | jpeg %}" alt="Man painting a white wall" width="610" height="882" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Superior Materials For Exceptional Results</span>
            <h2 class="cs-title">Premium Deck Staining Products That Outperform the Rest</h2>
            <p class="cs-text">
                Many stains that are sold in box stores today, are not true 'stains'. They often dry and cure on top of the wood as a film. These stains are not quality products and as such result in widespread peeling which can require a complete refinishing. The good news, there are other options out there and we are proud supporters of these products!
            </p>
            <p class="cs-text">
                Oasis Painting only uses premium-quality stains including Cutek Extreme, Sansin SDF/Dec and Cloverdale Sharkskin. Cutek Extreme oil stain is the closest you can come to a true 'oil stain' in Canada (due to VOC regulations) and demonstrates great penetration deep into wood surfaces for long-lasting results. Sansin SDF and Dec Enviro Stain are environmentally friendly stains whose oils and resins penetrate wood surfaces. Sansin, a Canadian company, is trusted by Parks Canada for numerous large-scale projects in Ottawa, and beyond. Cloverdale Sharkskin oil stain is another Canadian-made stain, that is built for rugged winters and offers fantastic durability and aesthetic.
            </p>
            <p class="cs-text">
                 All of these stains provide great results that are much more durable when compared to their competitors - we have done our research! When you choose Oasis Painting, you choose quality. We want to help you get the most out of your deck staining projects, please don't hesitate to ask us if you have any questions about our products or process! Reach out today!
            </p>
            <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1458" class="grey">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | jpeg %}" alt="Living room with gold and white paint" width="1196" height="1782" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            
        <ul class="cs-faq-group">
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Why should I stain my deck?
                    </span>
                </button>
                <p class="cs-item-p">
                    Staining or painting your deck, with a quality product, is very beneficial to the long-term durability of the wood. Harsh Canadian winters, moisture and summer sun break down the structural integrity of wood surfaces that aren't protected. Having your deck stained gives your wood an added layer of protection from the sun and moisture. Not to mention, a newly painted or beautifully stained deck or fence is a splendid sight to behold!
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is the difference between staining and painting my deck?
                    </span>
                </button>
                <p class="cs-item-p">
                    Wood stain will permeate into the wood, while paint sits on the surface to seal it. There are two common types of stain: semi-transparent stain and solid stain. Semi-transparent stain tints the wood but still allows the grain of the wood to be seen. Solid stain,  looks more like paint in its solid colour appearance but permeates the wood like stain. For older, more damaged decks and fences we would recommend a paint or solid stain to seal up the wood as best as possible from the elements and hide its imperfections. Newer or less-weathered decks are great candidates for semi-transparent staining that will highlight its natural wood texture!
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Should I stay off my deck after staining or painting?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, it is important to stay off a freshly painted or stained deck! If your deck has been stained, it is ideal to avoid walking on it for 24-48 hours after stain application. If your deck has been painted, you can walk on it a little sooner than if it was stained, but still should wait 10-12 hours. While the deck may be dry to the touch after staining or painting within these timeframes, the curing process that hardens the paint or stain takes longer!
                </p>
            </li>
        </ul>
        </div>
    </div>
</section>

{% include 'components/reviews.html' %}

{% endblock %}
