---
title: 'Thank You | Oasis Painting'
description: 'Thank you for contacting Oasis Painting. We will be in touch with you soon.'
permalink: 'thank-you/'
eleventyExcludeFromCollections: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/thank-you.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Thank You                   -->
<!-- ============================================ -->

<section id="thank-you">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Thank You</h1>
            <p class="cs-text">
                Thank you for getting in touch, we will follow-up with you soon.
            </p>
            <a href="/" class="cs-button-solid">Back to Home</a>
        </div>
    </div>
</section>

{% endblock %}
