/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-865 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #sbs-865 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-865 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-865 .cs-title {
    /* 23 characters wide including spaces */
    max-width: 23ch;
  }
  #sbs-865 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-865 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-865 .cs-button-solid {
    font-size: 1rem;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: black;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-865 .cs-button-solid:hover {
    color: white;
    background-color: black;
  }
  #sbs-865 .cs-image-group {
    width: 100%;
    max-width: 39.375rem;
    height: clamp(25rem, 69vw, 48.4375rem);
    border-radius: 2rem;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
  }
  #sbs-865 .cs-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  #sbs-865 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  #sbs-865 .cs-box {
    text-align: center;
    padding: clamp(0.5rem, 2vw, 2.1875rem) clamp(0.5rem, 2vw, 1.75rem);
    background-color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
  }
  #sbs-865 .cs-box img {
    width: clamp(3.5rem, 10vw, 5rem);
  }
  #sbs-865 .cs-number {
    /* 31px - 39px */
    font-size: clamp(1.25rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: inherit;
    margin: 0;
    color: white;
  }
  #sbs-865 .cs-desc {
    font-size: 0.875rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 7.6875rem;
    margin: 0;
    color: white;
  }
  #sbs-865 .cs-floater {
    /* 231px - 351px */
    width: clamp(14.375rem, 27vw, 21.9375rem);
    height: auto;
    display: none;
    position: absolute;
    top: 0rem;
    right: 3.125rem;
  }
  #sbs-865.grey {
    background-color: #f7f7f7;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-865 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-865 .cs-floater {
    display: block;
  }
  #sbs-865.reverse .cs-image-group {
    order: 2;
  }
  #sbs-865 .cs-box {
    padding: clamp(1.5rem, 5vw, 1.1875rem) clamp(1.25rem, 2vw, 1.75rem);
    right: clamp(1rem, 2vw, 1.25rem);
    bottom: clamp(1rem, 2vw, 1.25rem);
    top: unset;
  }
  #sbs-865 .cs-box img {
    width: 5rem;
  }
  #sbs-865 .cs-desc {
    font-size: 1rem;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1141 {
    padding: var(--sectionPadding);
    overflow: hidden;
    background-color: #f7f7f7;
  }
  #meet-team-1141 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1141 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1141 .cs-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #meet-team-1141 .cs-title {
    max-width: 20ch;
  }
  #meet-team-1141 .cs-text {
    margin-bottom: 2rem;
  }
  #meet-team-1141 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: black;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #meet-team-1141 .cs-button-solid:hover {
    color: white;
    background-color: black;
  }
  #meet-team-1141 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-1141 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-1141 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-1141 .cs-item:hover .cs-picture:before, #meet-team-1141 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-1141 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-1141 .cs-item:hover .cs-info {
    background-color: var(--primary);
  }
  #meet-team-1141 .cs-picture {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    /* removed at tablet */
    aspect-ratio: 328/407;
    border-radius: 1rem;
    /* clips the img corners */
    overflow: hidden;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1141 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-1141 .cs-info {
    width: 90%;
    margin: -2.625rem 0 0;
    padding: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s;
  }
  #meet-team-1141 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1141 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1141 .cs-phone {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-team-1141 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #meet-team-1141 .cs-item {
    width: 100%;
  }
  #meet-team-1141 .cs-picture {
    height: 25.4375rem;
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
  #meet-team-1141 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #meet-team-1141 .cs-content {
    text-align: left;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1141 .cs-card-group {
    justify-content: center;
    flex-wrap: nowrap;
  }
  #meet-team-1141 .cs-item {
    width: 100%;
  }
}
/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-12 {
    padding: var(--sectionPadding);
  }
  #why-choose-12 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-12 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-12 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.75rem;
  }
  #why-choose-12 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 22.5rem;
    margin: 0;
    padding: 0;
  }
  #why-choose-12 .cs-picture {
    /* 68px - 88px */
    width: clamp(4.25rem, 7vw, 5.5rem);
    height: clamp(4.25rem, 7vw, 5.5rem);
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-12 .cs-picture img {
    width: auto;
    height: 2.625rem;
    display: block;
  }
  #why-choose-12 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
  }
  #why-choose-12 .cs-item-text {
    font-size: 1rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-12 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: black;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-12 .cs-button-solid:hover {
    color: white;
    background-color: black;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-12 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
#reviews-864 {
  background-color: #f7f7f7;
}

/*# sourceMappingURL=about.css.map */
