/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1600 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 80px */
    gap: clamp(3rem, 6vw, 5rem);
  }
  #contact-1600 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 37.5rem;
    /* resets to 0 at tablet */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-1600 .cs-title {
    margin: 0 0 2rem 0;
  }
  #contact-1600 .cs-form {
    width: 100%;
    padding: 0;
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1600 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1600 .cs-label:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1600 .cs-input {
    font-size: 1rem;
    width: 100%;
    /* 46px - 56px */
    height: clamp(2.875rem, 4vw, 3.5rem);
    padding: 0 0.75rem 0 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1600 .cs-input::placeholder {
    color: #7D799C;
    opacity: 0.6;
  }
  #contact-1600 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    font-family: inherit;
    resize: none;
  }
  #contact-1600 .cs-button-solid {
    font-size: 1rem;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: black;
    border: none;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    transition: 0.3s;
  }
  #contact-1600 .cs-button-solid:hover {
    color: white;
    background-color: black;
  }
  #contact-1600 .cs-submit:hover {
    cursor: pointer;
  }
  #contact-1600 .cs-wrapper {
    /* 32px - 108px */
    padding: clamp(2rem, 8vw, 6.75rem) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-card-group {
    width: 90%;
    max-width: 25.8125rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-item {
    display: flex;
    gap: 2rem;
    text-align: left;
    list-style: none;
    width: 100%;
    min-height: 7rem;
    margin: 0;
    padding: clamp(1rem, 4vw, 2.5rem) clamp(1.5rem, 5vw, 2.5rem);
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-decoration: none;
    transition: 0.4s;
  }
  #contact-1600 .cs-item:hover {
    scale: 1.05;
  }
  #contact-1600 .cs-header {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    color: initial;
    margin: 0;
    display: block;
    transition: color 0.3s;
  }
  #contact-1600 .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  #contact-1600 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
  #contact-1600 .cs-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.3s;
  }
  #contact-1600 .cs-icon {
    width: 1rem;
    height: auto;
  }
  #contact-1600 .cs-background {
    height: 100%;
    width: 100%;
    max-width: 32.625rem;
    position: absolute;
    /* 60px - 188px */
    left: clamp(3.75rem, 9vw, 11.75rem);
    top: 0;
    z-index: -1;
  }
  #contact-1600 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1600 .cs-container {
    max-width: 80rem;
    /* removed at large desktop. This is to clip the cs-background */
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #contact-1600 .cs-content {
    text-align: left;
    width: 42%;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    order: 1;
  }
  #contact-1600 .cs-form {
    padding: 0;
  }
  #contact-1600 .cs-submit {
    margin-left: 0;
  }
  #contact-1600 .cs-wrapper {
    width: 50%;
    max-width: 39.375rem;
    order: 2;
  }
  #contact-1600 .cs-card-group {
    padding: 0;
  }
  #contact-1600 .cs-card-background {
    display: none;
  }
  #contact-1600 .cs-background {
    display: block;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1600 .cs-container {
    overflow: visible;
  }
  #contact-1600 .cs-background {
    left: 11.75rem;
  }
}
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-716 {
    /* 175px - 200px top */
    padding: clamp(10.9375rem, 10vw, 12.5rem) 1rem 6.25rem;
    position: relative;
    z-index: 1;
  }
  #banner-716 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #banner-716 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-716 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-716 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.75;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-716 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-716 .cs-background:before {
    opacity: 1;
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.9) 16.86%, rgba(0, 0, 0, 0) 100%);
  }
}
/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-716 {
    padding: var(--sectionPadding);
    padding-top: 2rem;
    background-color: #fafafa;
    /* clips the wave background from causing overflow issues when it goes off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #content-page-716 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #content-page-716 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #content-page-716 .cs-content img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    display: block;
  }
  #content-page-716 h2,
  #content-page-716 h3,
  #content-page-716 h4,
  #content-page-716 h5,
  #content-page-716 h6 {
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #content-page-716 h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  #content-page-716 h3 {
    font-size: 1.5rem;
    color: var(--primary);
  }
  #content-page-716 h4,
  #content-page-716 h5,
  #content-page-716 h6 {
    font-size: 1.25rem;
  }
  #content-page-716 .cs-button-solid {
    margin-bottom: 2rem;
  }
  #content-page-716 .cs-color {
    color: var(--primary);
  }
  #content-page-716 p {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
  }
  #content-page-716 p:last-of-type {
    margin-bottom: 2rem;
  }
  #content-page-716 p a {
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: var(--primary);
  }
  #content-page-716 ol,
  #content-page-716 ul {
    padding-left: 1.5rem;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-716 ul li {
    list-style: none;
    color: inherit;
    position: relative;
  }
  #content-page-716 ul li:before {
    /* custom list bullet */
    content: "";
    width: 3px;
    height: 3px;
    background: currentColor;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.75rem;
  }
  #content-page-716 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
    font-size: min(1vw, 1em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 33.875rem;
    height: 48.3125rem;
    display: none;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #content-page-716 .cs-picture {
    width: 33.875rem;
    height: 40.4375rem;
    border-radius: 17.8125rem;
    border: 0.75rem solid #fff;
    background-color: #f7f7f7;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #content-page-716 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #content-page-716 .cs-flower {
    width: 22.625rem;
    height: auto;
    display: block;
    position: absolute;
    bottom: -2.375rem;
    right: -3rem;
    z-index: -1;
    transform: rotate(142deg);
  }
  #content-page-716 .cs-sense {
    width: 5rem;
    height: auto;
    position: absolute;
    top: -0.25rem;
    left: 0.625rem;
    transform: rotate(90deg);
  }
  #content-page-716 .cs-background {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-page-716 .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #content-page-716 .cs-image-group {
    display: block;
    /* sends it to the left in the 1st position */
    order: -1;
  }
  #content-page-716 .cs-content {
    margin-left: auto;
  }
  #content-page-716 .cs-background {
    width: 20%;
    height: 100%;
    background-color: #f7f7f7;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  #content-page-716 .cs-background img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #content-page-716 .cs-image-group {
    /* position absolute so we can have it overflow the container as seen in the design. */
    font-size: inherit;
    position: absolute;
    top: 0rem;
    left: -6.25rem;
  }
  #content-page-716 .cs-background {
    width: 50%;
    /* with the left edge always positioned at the center line, we push right of the center line by 335px.  This ensures that this element will stay exactly in this position no matter hoe wide the screen gets */
    margin-right: 20.9375rem;
    left: auto;
    /* sets the right edge of the element to be at the center line */
    right: 50%;
  }
}

/*# sourceMappingURL=contact.css.map */
