<!-- {% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/about-banner.jpg" | resize({ width: 1200, height: 1521, position: "right top" }) | extend({ top: 200 }) | avif %}"/>
{% endblock %}

{% block body %} -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<h1>TEST</h1>                          
<!-- {% endblock %} -->