---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/critical.css">
<link rel="stylesheet" href="/assets/css/local.css"/>
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Your Trusted Ottawa Painting Company</h1>
            <div class="cs-flex-group">
                <p class="cs-text">We are your local, Ottawa painters that you can rely on for quality and professionalism.</p>
                <a href="/contact" class="cs-button-solid">Get Started Now</a>
            </div>
        </div>
    </div>

    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right" }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right" }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right" }) | jpeg %}" type="image/jpeg">
       <!--Tablet Image-->
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right" }) | avif %}" type="image/avif">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right" }) | webp %}" type="image/webp">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right" }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right" }) | avif %}" type="image/avif">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right" }) | webp %}" type="image/webp">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right" }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900 }) | jpeg %}" alt="Beautiful kitchen with yellow and brown paint" width="3000" height="1900" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-596">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">House Painting Services in Ottawa, Ontario</h2>
            <p class="cs-text">
                Oasis Painting offers professional house painting services with free quotes and colour consultations. As a top-rated Ottawa painting company, we deliver stunning results every time!
            </p>
        </div>
        <div class="cs-card-group">
            <a href="/interior-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/interior-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Interior Painting</h3>
                <p class="cs-item-text">
                    A fresh new look may be exactly what your home needs. Oasis Painting offers clean, quick and professional painting in Ottawa.
                </p>
            </a>
            <a href="/commercial-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/commercial-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Commercial Painting</h3>
                <p class="cs-item-text">
                    Elevate your business space with our premium commercial painting services, delivering flawless finishes, minimal disruption, and tailored solutions
                </p>
            </a>
            <a href="/deck-staining" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/deck-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Deck & Fence Staining</h3>
                <p class="cs-item-text">
                    Transform the look of your old wood with our deck and fence services! Protect your wood decks and fences by having them professionally done by our experienced house painters!
                </p>
            </a>
            <a href="/exterior-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/exterior-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Exterior Painting</h3>
                <p class="cs-item-text">
                    From siding to brick to wood and beyond - our team of professional Ottawa painters will deliver amazing, long-lasting results every time!
                </p>
            </a>
            <a href="/contact" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/realtor-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Realtor Services</h3>
                <p class="cs-item-text">
                    Looking to sell? A fresh coat of paint can liven any space! Our realtor painting services can help with any house painting job to prepare your home for sale!
                </p>
            </a>
            <a href="/contact" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/consultation-icon.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Colour consultations</h3>
                <p class="cs-item-text">
                    Get expert guidance on choosing the perfect paint colours for your home with Oasis Painting's free colour consultations in Ottawa!
                </p>
            </a>
        </div>
        <div class="cs-button-solid">Get a Free Quote</div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-2295">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <div class="cs-picture-wrapper1">
                <picture class="cs-picture cs-picture1">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck before stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">Before</span>
            </div>
            <!--Small Image-->
            <div class="cs-picture-wrapper2">
                <picture class="cs-picture cs-picture2">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck before stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">After</span>
            </div>
            <img class="cs-arrow" loading="lazy" decoding="async" src="./assets/svgs/before-after-arrow.svg" alt="arrow" width="148" height="54">
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">An Ottawa Company That Cares</h2>
            <p class="cs-text">
                Oasis Painting is your trusted Ottawa painting contractor offering reasonable pricing and quality work. With our experienced team and friendly staff, we are your best painters in Ottawa. At Oasis Painting, customer satisfaction is always our highest priority and we are committed to providing a superior customer experience. We are proud to serve the entire Ottawa Valley, bringing our quality work to all surrounding areas.
            </p>
            <p class="cs-text">
                Oasis Painting is your trusted Ottawa painting contractor offering reasonable pricing and quality work. With our experienced team and friendly staff, we are your best painters in Ottawa. At Oasis Painting, customer satisfaction is always our highest priority and we are committed to providing a superior customer experience. We are proud to serve the entire Ottawa Valley, bringing our quality work to all surrounding areas.
            </p>
            <a href="" class="cs-button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-92">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | jpeg %}" alt="Living room filled with plants" width="910" height="564" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Ottawa's Trusted Home Painting Experts</span>
            <h2 class="cs-title">Residential Painting Services in Ottawa</h2>
            <p class="cs-text">
                Transform your Ottawa home with Oasis Painting's premium residential painting services. Our experienced interior painters deliver flawless results in bedrooms, living rooms, kitchens, and bathrooms throughout the National Capital Region. From historic Glebe character homes to modern suburbs of Kanata and beyond, we understand Ottawa's diverse architectural styles and provide tailored painting solutions that enhance your home's beauty and value. Our meticulous preparation process ensures smooth, long-lasting finishes that stand up to daily life, while our careful colour consultation helps you select the perfect palette for your space.
            </p>
            <p class="cs-text">
                Ottawa homeowners choose our professional painting services for our attention to detail, clean workspaces, and commitment to minimal disruption. Beyond walls and ceilings, our specialized services include stair and banister refinishing, floor painting, and trim work that adds the perfect finishing touch to your home. Our exterior painters use weather-resistant products specifically formulated for Ottawa's climate, protecting your siding, trim, and exterior surfaces from freezing winters and hot summers. From Barrhaven to Orléans, Westboro to Riverside South, our 5-star rated painting team brings expertise and dedication to every Ottawa home painting project.
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="">Read More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-90">
    <div class="cs-container">
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | jpeg %}" alt="Living room filled with plants" width="910" height="564" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Professional Business Space Transformation</span>
            <h2 class="cs-title">Commercial Painting Services in Ottawa</h2>
            <p class="cs-text">
                Elevate your Ottawa business with Oasis Painting's professional commercial painting services. We understand that your commercial space represents your brand and creates crucial first impressions. Our Ottawa commercial painters work efficiently to minimize disruption to your operations, offering flexible scheduling including evenings and weekends to accommodate your business needs. From retail storefronts in the Byward Market to office complexes in Kanata North Business Park, our experienced team delivers consistent, high-quality results that enhance your professional environment.
            </p>
            <p class="cs-text">
                Ottawa businesses rely on our commercial painting contractors for our comprehensive services that include interior office painting, exterior facade refreshes, and specialized commercial applications. We use low-VOC, durable paints that maintain their appearance despite heavy traffic and regular cleaning. Our team works closely with property managers and business owners throughout Ottawa to understand specific requirements, adhere to corporate colour standards, and meet strict project timelines. With proper preparation, premium products, and professional application, Oasis Painting has become the trusted commercial painting company for businesses across Ottawa's diverse commercial districts, from downtown high-rises to industrial parks and retail centers in Nepean, Orléans, and beyond.
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="">Read More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Your Home Deserves It</span>
            <h2 class="cs-title">Why Choose Us?</h2>
            <p class="cs-text">
                Transforming houses into stunning homes with meticulous attention to detail and exceptional service that sets us apart in Ottawa.
            </p>
        </div>
        <ul class="cs-card-group">
             <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/shield-heart.svg" alt="Client-Oriented icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Client-Oriented</h3>
                <p class="cs-item-text">
                    Our team takes the time to understand your exact needs, communicates clearly throughout the project, and adjusts to your schedule.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/professionalism.svg" alt="Professionalism icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Professionalism</h3>
                <p class="cs-item-text">
                    With years of industry experience, our skilled painters bring expertise and reliability to every project. We arrive on time, work efficiently, and maintain a tidy workspace.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/award.svg" alt="High-Quality Work icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">High-Quality Work</h3>
                <p class="cs-item-text">
                    We never cut corners. Using premium paints and materials, our meticulous preparation and application techniques ensure a flawless finish that stands the test of time.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/check.svg" alt="Fully Insured Painters icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Fully Insured Painters</h3>
                <p class="cs-item-text">
                    We are WSIB compliant and are a fully insured painting company. We have liability coverage up to 2 million dollars to protect you.
                </p>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/competitive-pricing.svg" alt="Competitive Pricing icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Competitive Pricing</h3>
                <p class="cs-item-text">
                    Our competitive pricing and quality services make Oasis Painting the best bang for your buck painters in the Ottawa area.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/healthy.svg" alt="Low-VOC Paint Products icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Low-VOC Paint Products</h3>
                <p class="cs-item-text">
                    We are proud to be an eco-friendly painting contractor, using environmentally friendly, low-VOC paint products and safely disposing of all waste in a green way.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/certificate.svg" alt="Workplace & Heights Safety Trained icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Workplace & Heights Safety Trained</h3>
                <p class="cs-item-text">
                    All of our painters have workplace and height safety licenses per Ottawa, Ontario and Canadian regulations.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="./assets/svgs/schedule.svg" alt="Flexible Scheduling icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Flexible Scheduling</h3>
                <p class="cs-item-text">
                    Our competitive pricing and quality services make Oasis Painting the best bang for your buck painters in the Ottawa area.
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>               

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">See Our Work</h2>
            <p class="cs-text">
                Witness our craftsmanship firsthand through our portfolio of stunning transformations across Ottawa homes and businesses. 
            </p>
            {# <a href="" class="cs-cta">
                <!--Arrow Right-->
                <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">Discover<br> More</span>
            </a> #}
            <picture class="cs-content-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | jpeg %}" alt="Freshly painted brown house" width="1260" height="620" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-grid">
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | jpeg %}" alt="Freshly painted stairs" width="610" height="874" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | jpeg %}" alt="Freshly painted basement" width="610" height="574" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture3">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | jpeg %}" alt="Freshly painted basement" width="610" height="574" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture4">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | jpeg %}" alt="Freshly painted stairs" width="610" height="874" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-4">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Commitment To Excellence</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">
                We take pride in our reputation for exceptional service and results, backed by our perfect Google rating and commitment to complete customer satisfaction.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-stat-text">Client Satisfaction</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5/5</span>
                <span class="cs-stat-text">Google Rating</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">30+</span>
                <span class="cs-stat-text">Google Reviews</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-stat-text">Free Quotes</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Get A Free Quote</a>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1458">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1088, height: 1232 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/faq.png" | resize({ width: 1196, height: 1782 }) | jpeg %}" alt="Living room with gold and white paint" width="1196" height="1782" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            
        <ul class="cs-faq-group">
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How can I request a painting quote?
                    </span>
                </button>
                <p class="cs-item-p">
                    To request a quote for your Ottawa house painting project, simply go to our website and locate one of our buttons called "Get a Quote", "Contact Us" or "Get Started" shown through the pages. Clicking on this button will direct you to a dedicated form where you can provide details about your project, such as project type, desired paint colours, and your contact information. Fill out the form with your information, and our team will review your form as soon as possible and contact you to arrange an in-person quote to get you started! With our commitment to customer satisfaction, obtaining a painting quote is an easy process.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What types of house painting do you offer in Ottawa?
                    </span>
                </button>
                <p class="cs-item-p">
                    Our painting company specializes in a diverse range of painting projects in Ottawa, catering to the unique needs of our clients. For residential painting, we excel in providing custom solutions, transforming homes from the inside out. Our skilled team of house painters has dealt with every type of painting project in Ottawa ranging from painting brick siding to full home refreshes to the full sanding and painting of a wood house's siding.

                    Our experience extends to cabinetry, giving a cost-effective way to refresh kitchens and bathrooms without a full renovation. We also excel in wallpaper removal and wall restoration, making sure you can get rid of your old wallpaper and get your walls looking brand new.

                    Oasis Painting is adept at handling commercial projects as well, improving the aesthetic appeal of various places of business. In the realm of new construction, we offer a broad range of house painting services to Ottawa home builders, contributing to the completion of projects with precision and finesse.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Are your professional painters licensed and insured?
                    </span>
                </button>
                <p class="cs-item-p">
                    All of our professional painters are licensed and fully insured with comprehensive coverage of up to $5 million in general liability. This coverage applies to every project from residential painting to new construction, providing you with peace of mind throughout the house painting process. Oasis Painting and all of our house painters are fully compliant with the Workplace Safety and Insurance Board (WSIB) regulations, ensuring a secure working environment for everyone. Our commitment to safety is further emphasized by the training our house painters undergo in heights and safety protocols, meeting all safety requirements mandated by Ontario and the city of Ottawa. When you choose Oasis Painting as your Ottawa painting contractor, you can trust that our insured house painters prioritize not only the quality of their work but also the safety and protection of your property and everyone involved in the project.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How do you determine the cost of a residential painting project?
                    </span>
                </button>
                <p class="cs-item-p">
                    The cost of a residential painting project is determined by many factors, all of which contribute to the overall estimation. The time needed for the project is the main factor. Factors such as the size of the area to be painted, level of detail, and ease of access influence the time commitment. The state of the walls plays a crucial role, as areas requiring a lot of preparation or prep work will demand more time and resources.

                    The number of coats needed is another factor; while some projects may only require a single coat, others, especially when changing between colours or dealing with specific surfaces, might need multiple layers. The type of paint chosen is another factor, with premium or specialty paints adding to the overall cost. Additionally, the scope of the work, whether it's limited to a single room or the entire property, impacts the quote.

                    Our detailed cost assessment takes all these factors into account, ensuring transparency and accuracy in our quotes. By evaluating the unique aspects of each project, we provide a customized estimate that shows the specific requirements and ensures the highest quality results for your residential painting investment.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you provide colour consultation services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Certainly! Yes, we offer colour consultation services to assist our clients in choosing the perfect palette of paint colours for their spaces. Our experienced team understands the impact of lighting on colour perception, and to ensure the best decision-making process, we provide colour samples that clients can test directly on their walls. This hands-on approach allows our clients to witness firsthand how different lighting conditions within their homes may affect the appearance of the chosen colours. We believe that this personalized and hands-on approach to colour consultation not only allows informed decision-making but also ensures that the selected colours work well with the unique lighting of each environment. Oasis Painting, your trusted Ottawa painting company, prioritizes your satisfaction and strives to make choosing a colour as stress-free as possible.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What sets you apart from other Ottawa painters?
                    </span>
                </button>
                <p class="cs-item-p">
                    What sets Oasis Painting apart from any other painting company in Ottawa is our commitment to phenomenal customer experience. As your trusted Ottawa painting company, we take immense pride in our deep-rooted connection to the local community and understanding the needs of Ontario homeowners. Our team of professional painters in Ottawa is not only skilled but also dedicated to delivering a quality and friendly service, ensuring your residential painting experience is both easy and enjoyable.

                    Our exceptional track record on residential painting projects speaks volumes about the quality and reliability of our services. With a history of success, we have become a trusted name in the Ottawa house painting community. We understand that choosing the right colours is a crucial aspect of any interior or exterior painting project. That's why we offer personalized colour consultations, offering clients a hands-on experience using samples on their walls to make informed decisions.

                    From outdoor painting to detailed interior work, our team of professional painters is driven by a passion for transforming your living spaces. Our commitment to excellence, coupled with a focus on local understanding and customer satisfaction, sets us apart as the go-to painting company in Ottawa. To learn more about our expertise and painting process check our <a href="/blog">blog</a>!
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How far in advance should I schedule a residential painting project?
                    </span>
                </button>
                <p class="cs-item-p">
                    For optimal scheduling with Oasis Painting, it is advisable to plan ahead, especially considering seasonal variations. In winter months, we typically recommend reaching out a month or so in advance to secure your preferred slot. However, during the summer, our schedule tends to fill up quickly, and the waitlist can extend to a few months. To ensure your house painting project aligns with your timeline, contacting us well in advance is key. As a trusted Ottawa painting company, Oasis Painting prioritizes delivering high-quality house painting in Ottawa and surrounding areas. By proactively reaching out, you not only secure your spot in our schedule but also guarantee the timely transformation of your space with our professional and reliable interior and exterior painting services.
                </p>
            </li>
        </ul>

        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Hear What Our Past Clients Have to Say!</h2>
            <p class="cs-text">
                We're proud to have earned the trust of homeowners across Ottawa through our dedication to excellence in every painting project we undertake. Don't just take our word for it—read what our clients have to say about their experience.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Brandon Olsen
                    </span>
                </div>
                <p class="cs-review">
                    I can't recommend Oasis enough. They were flexible, efficient and very adaptable to help us getting moved into our new home. They went above and beyond to get everything done, and even did some extra finishes /touch ups above what we had agreed on.
                </p>
                <p class="cs-review">
                    Will 100% be using them again, and recommending them to everybody I know.
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Lorraine H
                    </span>
                </div>
                <p class="cs-review">
                    We recently had two bathrooms painted by Oasis painting. We saw some online reviews and decided to go with them. Matt came and gave us a quote promptly. The price was reasonable and included supplies (Sherwin-Williams). Will and Trevor were very personable and knowledgeable and did a great job. We definitely would recommend Oasis Painting to anyone for their painting services.
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Lindsey Thomsen
                    </span>
                </div>
                <p class="cs-review">
                    William and his team were outstanding! They recently painted my sister’s new house, who had a great experience, so I asked them to paint our entire condo - top to bottom. William provided a very reasonable quote and a realistic timeline and all went exactly as he said it would. The time and care they took resulted in a beautiful paint job and the place was left spotless.

                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group hidden">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Dawn Parsons
                    </span>
                </div>
                <p class="cs-review">
                    Just wanted to start this by saying I never leave reviews. Oasis Painting painted my Ottawa apartment recently and it was honestly seamless. Very nice painters, knowledgeable, super easy to get along with and an excellent job overall. Very thankful for the end result and process - I would recommend!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Feruz Dglel
                    </span>
                </div>
                <p class="cs-review">
                    I recently hired Oasis Painting to paint my living room, and I am extremely pleased with the outcome. Matt and his team provided exceptional customer service, from offering valuable advice on colours to completing the job with meticulous attention to detail. I highly recommend!!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Gilda Stefanelli
                    </span>
                </div>
                <p class="cs-review">
                    Oasis painting was excellent. they painted my entire house and patched all previous drill holes and nails. They were professional, always on time, polite and very knowledgeable. I will 100% contact them again for any future work and I absolutely recommend them!
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <div class="google-review">
                    <img src="./assets/svgs/google.svg" alt="google logo">
                    <span class="cs-desc">Google</span>
                </div>
            </li>
        </ul>
        <div class="cs-button-solid read-more">Read More</div>
    </div>
    <!--Top Left Quote-->
    <img class="cs-quote1" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
    <!--Top Right Quote-->
    <img class="cs-quote2" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
</section>                  

    {% include 'components/cta.html' %}
{% endblock %}