---
title: 'Your Trusted Ottawa Painters | Oasis Painting'
description: 'Oasis Painting offers expert residential & commercial painting services. Quality finishes, reliable professionals, and stunning results. Get a free quote today!'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/critical.css">
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/faq.css"/>
<link rel="stylesheet" href="/assets/css/why-choose-us.css"/>
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>
<link rel="preload" as="image" href="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right top" }) | extend({ top: 200 }) | avif %}"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Your Trusted Ottawa Painting Company</h1>
            <div class="cs-flex-group">
                <p class="cs-text">We are your local, Ottawa painters that you can rely on for quality and professionalism.</p>
                <a href="/contact" class="cs-button-solid">Get Started Now</a>
            </div>
        </div>
    </div>

    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right top" }) | extend({ top: 200 }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right top" }) | extend({ top: 200 }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 1200, height: 1521, position: "right top" }) | extend({ top: 200 }) | jpeg %}" type="image/jpeg">
       <!--Tablet Image-->
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right top" }) | extend({ top: 200 }) | avif %}" type="image/avif">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right top" }) | extend({ top: 200 }) | webp %}" type="image/webp">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 2000, height: 1388, position: "right top" }) | extend({ top: 200 }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right top" }) | extend({ top: 600 }) | avif %}" type="image/avif">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right top" }) | extend({ top: 600 }) | webp %}" type="image/webp">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900, position: "right top" }) | extend({ top: 600 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/home-banner.png" | resize({ width: 3000, height: 1900 }) | jpeg %}" alt="Beautiful kitchen with yellow and brown paint" width="3000" height="1900" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-596">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">House Painting Services in Ottawa, Ontario</h2>
            <p class="cs-text">
                Oasis Painting offers professional house painting services with free quotes and colour consultations. As a top-rated Ottawa painting company, we deliver stunning results every time!
            </p>
        </div>
        <div class="cs-card-group">
            <a href="/interior-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/interior-icon.svg" alt="paint roller icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Interior Painting</h3>
                <p class="cs-item-text">
                    A fresh new look may be exactly what your home needs. Oasis Painting offers clean, quick and professional painting in Ottawa.
                </p>
            </a>
            <a href="/commercial-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/commercial-icon.svg" alt="office building icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Commercial Painting</h3>
                <p class="cs-item-text">
                    Elevate your business space with our premium commercial painting services, delivering flawless finishes, minimal disruption, and tailored solutions
                </p>
            </a>
            <a href="/deck-staining" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/deck-icon.svg" alt="fence icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Deck & Fence Staining</h3>
                <p class="cs-item-text">
                    Transform the look of your old wood with our deck and fence services! Protect your wood decks and fences by having them professionally done by our experienced house painters!
                </p>
            </a>
            <a href="/exterior-painting" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/exterior-icon.svg" alt="paint roller on house icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Exterior Painting</h3>
                <p class="cs-item-text">
                    From siding to brick to wood and beyond - our team of professional Ottawa painters will deliver amazing, long-lasting results every time!
                </p>
            </a>
            <a href="/contact" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/realtor-icon.svg" alt="for sale icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Realtor Services</h3>
                <p class="cs-item-text">
                    Looking to sell? A fresh coat of paint can liven any space! Our realtor painting services can help with any house painting job to prepare your home for sale!
                </p>
            </a>
            <a href="/contact" class="cs-item">
                <img class="cs-icon" src="./assets/svgs/consultation-icon.svg" alt="colour pallette icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Colour consultations</h3>
                <p class="cs-item-text">
                    Get expert guidance on choosing the perfect paint colours for your home with Oasis Painting's free colour consultations in Ottawa!
                </p>
            </a>
        </div>
        <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
    </div>
</section>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-2295">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <div class="cs-picture-wrapper1">
                <picture class="cs-picture cs-picture1">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-before.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck before stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">Before</span>
            </div>
            <!--Small Image-->
            <div class="cs-picture-wrapper2">
                <picture class="cs-picture cs-picture2">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 566, height: 566 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/deck-after.png" | resize({ width: 800, height: 800 }) | jpeg %}" alt="Deck after stain" width="800" height="800" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <span class="cs-tag">After</span>
            </div>
            <img class="cs-arrow" loading="lazy" decoding="async" src="./assets/svgs/before-after-arrow.svg" alt="arrow" width="148" height="54">
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">An Ottawa Company That Cares</h2>
            <p class="cs-text">
                Oasis Painting is your trusted Ottawa painting contractor offering reasonable pricing and quality work. With our experienced team and friendly staff, we are your best painters in Ottawa. At Oasis Painting, customer satisfaction is always our highest priority and we are committed to providing a superior customer experience. We are proud to serve the entire Ottawa Valley, bringing our quality work to all surrounding areas.
            </p>
            <p class="cs-text">
                Let us transform your space, into your oasis! We use high-quality and low-VOC paints such as Sherwin-Williams, Dulux, Benjamin Moore and Cloverdale Paint, to be sure that we are eco-friendly while we complete your house painting project! Our house painters take pride in our competitive pricing, professional response times and friendly service. At Oasis Painting, we look forward to helping with all your painting needs in Ottawa! Whether it is big or small, we do it all! Contact us today!
            </p>
            <a href="/about" class="cs-button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-92">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 990, height: 756 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/living-room-plants.png" | resize({ width: 910, height: 564 }) | jpeg %}" alt="Living room filled with plants" width="910" height="564" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Ottawa's Trusted Home Painting Experts</span>
            <h2 class="cs-title">Residential Painting Services in Ottawa</h2>
            <p class="cs-text">
                Transform your Ottawa home with Oasis Painting's premium residential painting services. Our experienced interior painters deliver flawless results in bedrooms, living rooms, kitchens, and bathrooms throughout the National Capital Region. From historic Glebe character homes to modern suburbs of Kanata and beyond, we understand Ottawa's diverse architectural styles and provide tailored painting solutions that enhance your home's beauty and value. Our meticulous preparation process ensures smooth, long-lasting finishes that stand up to daily life, while our careful colour consultation helps you select the perfect palette for your space.
            </p>
            <p class="cs-text">
                Ottawa homeowners choose our professional painting services for our attention to detail, clean workspaces, and commitment to minimal disruption. Beyond walls and ceilings, our specialized services include stair and banister refinishing, floor painting, and trim work that adds the perfect finishing touch to your home. Our exterior painters use weather-resistant products specifically formulated for Ottawa's climate, protecting your siding, trim, and exterior surfaces from freezing winters and hot summers. From Barrhaven to Orléans, Westboro to Riverside South, our 5-star rated painting team brings expertise and dedication to every Ottawa home painting project.
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="/about">Read More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-90">
    <div class="cs-container">
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 990, height: 756 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/commercial-painting.png" | resize({ width: 910, height: 564 }) | jpeg %}" alt="Worker on a lift, painting the outside of an commercial building" width="910" height="564" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Professional Business Space Transformation</span>
            <h2 class="cs-title">Commercial Painting Services in Ottawa</h2>
            <p class="cs-text">
                Elevate your Ottawa business with Oasis Painting's professional commercial painting services. We understand that your commercial space represents your brand and creates crucial first impressions. Our Ottawa commercial painters work efficiently to minimize disruption to your operations, offering flexible scheduling including evenings and weekends to accommodate your business needs. From retail storefronts in the Byward Market to office complexes in Kanata North Business Park, our experienced team delivers consistent, high-quality results that enhance your professional environment.
            </p>
            <p class="cs-text">
                Ottawa businesses rely on our commercial painting contractors for our comprehensive services that include interior office painting, exterior facade refreshes, and specialized commercial applications. We use low-VOC, durable paints that maintain their appearance despite heavy traffic and regular cleaning. Our team works closely with property managers and business owners throughout Ottawa to understand specific requirements, adhere to corporate colour standards, and meet strict project timelines. With proper preparation, premium products, and professional application, Oasis Painting has become the trusted commercial painting company for businesses across Ottawa's diverse commercial districts, from downtown high-rises to industrial parks and retail centers in Nepean, Orléans, and beyond.
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="/about">Read More</a>
        </div>
    </div>
</section>

{% include 'components/why-choose-us.html' %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">See Our Work</h2>
            <p class="cs-text">
                Witness our craftsmanship firsthand through our portfolio of stunning transformations across Ottawa homes and businesses. 
            </p>
            <picture class="cs-content-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1100, height: 620 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/house-brown.jpeg" | resize({ width: 1260, height: 1064 }) | jpeg %}" alt="Freshly painted brown house" width="1260" height="620" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-grid">
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 538, height: 790 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/stairs.png" | resize({ width: 610, height: 874 }) | jpeg %}" alt="Freshly painted stairs" width="610" height="874" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 538, height: 648 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/basement.png" | resize({ width: 610, height: 574 }) | jpeg %}" alt="Freshly painted basement" width="610" height="574" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture3">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 538, height: 648 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/house-blue.jpg" | resize({ width: 610, height: 574 }) | jpeg %}" alt="Freshly painted blue house" width="610" height="574" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture4">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 538, height: 790 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/gallery/front-door.jpg" | resize({ width: 610, height: 874 }) | jpeg %}" alt="Freshly stained brown front door" width="610" height="874" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-4">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Commitment To Excellence</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">
                We take pride in our reputation for exceptional service and results, backed by our perfect Google rating and commitment to complete customer satisfaction.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-stat-text">Client Satisfaction</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5/5</span>
                <span class="cs-stat-text">Google Rating</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">30+</span>
                <span class="cs-stat-text">Google Reviews</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-stat-text">Free Quotes</span>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get A Free Quote</a>
    </div>
</section>

{% include 'components/faq.html' %}                
{% include 'components/reviews.html' %}                
{% endblock %}