/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-865 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(570 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 23 characters wide including spaces */
            max-width: 23ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                color: white;
                background-color: black;
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            height: clamp(25rem, 69vw, 48.4375rem);
            border-radius: 2rem;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
            overflow: hidden;
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .cs-box {
            text-align: center;
            padding: clamp(0.5rem, 2vw, 2.1875rem) clamp(0.5rem, 2vw, 1.75rem);
            background-color: black;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;

            img {
                width: clamp(3.5rem, 10vw, 5rem);
            }
        }

        .cs-number {
            /* 31px - 39px */
            font-size: clamp(1.25rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 900;
            text-align: inherit;
            margin: 0;
            color: white;
        }

        .cs-desc {
            font-size: 0.875rem;
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            width: calc(123 / 16 * 1rem);
            margin: 0;
            color: white;
        }

        .cs-floater {
            /* 231px - 351px */
            width: clamp(14.375rem, 27vw, 21.9375rem);
            height: auto;
            display: none;
            position: absolute;
            top: calc(0 / 16 * 1rem);
            right: calc(50 / 16 * 1rem);
        }

        &.grey {
            background-color: #f7f7f7;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-865 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-floater {
            display: block;
        }

        &.reverse {
            .cs-image-group {
                order: 2;
            }
        }

        .cs-box {
            padding: clamp(1.5rem, 5vw, 1.1875rem) clamp(1.25rem, 2vw, 1.75rem);
            right: clamp(1rem, 2vw, 1.25rem);
            bottom: clamp(1rem, 2vw, 1.25rem);
            top: unset;

            img {
                width: 5rem;
            }
        }

        .cs-desc {
            font-size: 1rem;
        }
    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1141 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: 2rem;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                color: white;
                background-color: black;
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--primary);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            /* removed at tablet */
            aspect-ratio: 328/407;
            border-radius: calc(16 / 16 * 1rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 90%;
            margin: calc(-42 / 16 * 1rem) 0 0;
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f7f7f7;
            border-radius: calc(12 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-phone {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-1141 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: calc(407 / 16 * 1rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-1141 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}
/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-12 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(60 / 16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(360 / 16 * 1rem);
            margin: 0;
            padding: 0;
        }

        .cs-picture {
            /* 68px - 88px */
            width: clamp(4.25rem, 7vw, 5.5rem);
            height: clamp(4.25rem, 7vw, 5.5rem);
            margin: auto;
            margin-bottom: calc(32 / 16 * 1rem);
            border-radius: 50%;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                height: calc(42 / 16 * 1rem);
                display: block;
            }
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-12 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

#reviews-864 {
    background-color: #f7f7f7;
}