/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-596 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            /* 36px - 80px top & bottom */
            /* 24px - 88px right & left */
            padding: clamp(2.25rem, 6vw, 5rem) clamp(1.5rem, 6.4vw, 5.5rem);
            background-color: #fff;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
            /* 32px - 64px */
            row-gap: clamp(2rem, 7vw, 4rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 3vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* In-between - 550px */
@media only screen and (min-width: 34.375rem) {
    #services-596 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            /* 48px - 64px */
            row-gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-item {
            width: 47%;
        }
    }
}

/* Desktop 1024px */
@media only screen and (min-width: 64rem) {
    #services-596 {
        .cs-item {
            text-decoration: none;
            width: 31%;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-92 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            max-width: 37rem;
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: 0.3s;
            color: black;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        .cs-picture {
            width: 90%;
            /* pushes down the by the same amount as the yellow circle overflows the container */
            /* 40px -88px */
            margin: 0 0 calc(44 / 16 * 1rem) clamp(2.5rem, 5.9vw + 1rem, 5.5rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 288/220;

            &:before {
                /* yellow circle */
                content: "";
                width: calc(217 / 16 * 1rem);
                height: calc(217 / 16 * 1rem);
                background: var(--primary);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                bottom: calc(-44 / 16 * 1rem);
                /* wrapped in a clamp so we can have a negative clamp */
                left: calc(clamp(2.5rem, 5.9vw + 1rem, 5.5rem) * -1);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-92 {
        overflow: visible;
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            justify-content: space-between;
            align-items: center;
            /* set flexbox back to the row orientation */
            flex-direction: row;
        }

        .cs-picture {
            /* 300px - 455px */
            width: clamp(18.75rem, 42.5vw, 28.4375rem);
            height: calc(282 / 16 * 1rem);
            /* prevent flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2295 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(704/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: min(1.98vw, .826rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(738/16 * 1em);
            height: calc(578/16 * 1em);
            order: -1;
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            border: calc(16/16 * 1em) solid var(--bodyTextColorWhite);
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }

        .cs-picture-wrapper1 {
            width: calc(412/16 * 1em);
            height: calc(457/16 * 1em);
            display: flex;
            flex-direction: column;
            gap: calc(16/16 * 1rem);
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-picture-wrapper2 {
            width: calc(413/16 * 1em);
            height: calc(474/16 * 1em);
            display: flex;
            flex-direction: column-reverse;
            gap: calc(16/16 * 1rem);
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .cs-tag {
            /* 14px - 24px */
            font-size: clamp(0.875rem, 1.4vw, 1.5rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            color: var(--headerColor);
        }

        .cs-arrow {
            width: calc(148/16 * 1em);
            height: calc(54/16 * 1em);
            position: absolute;
            top: calc(242/16 * 1em);
            left: calc(255/16 * 1em);
            transform: rotate(30deg);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: calc(586/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(24/16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }

        .cs-h3 {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-ul {
            margin: calc(12/16 * 1rem) 0 calc(32/16 * 1rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(12/16 * 1rem);
        }

        .cs-li {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            strong {
                color: #1a1a1a;
            }

            &::before {
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(8/16 * 1rem);
                margin-top: calc(8/16 * 1rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2295 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }

        .cs-image-group {
            order: initial;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2295 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-image-group {
            font-size: min(1.03vw, 1rem);
            height: auto;
        }

        .cs-picture-wrapper1 {
            height: auto;
            bottom: calc(121/16 * 1em);
        }

        .cs-picture-wrapper2 {
            height: auto;
            top: calc(104/16 * 1em);
        }
    }
}

 /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-90 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            max-width: 37rem;
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        .cs-picture {
            width: 90%;
            /* pushes down the by the same amount as the yellow circle overflows the container */
            /* 40px -88px */
            margin: 0 clamp(2.5rem, 5.9vw + 1rem, 5.5rem) calc(44 / 16 * 1rem) 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 288/220;

            &:before {
                /* yellow circle */
                content: "";
                width: calc(217 / 16 * 1rem);
                height: calc(217 / 16 * 1rem);
                background: var(--primary);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                bottom: calc(-44 / 16 * 1rem);
                /* wrapped in a clamp so we can have a negative clamp */
                right: calc(clamp(2.5rem, 5.9vw + 1rem, 5.5rem) * -1);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-90 {
        overflow: visible;
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            justify-content: space-between;
            align-items: center;
            /* set flexbox back to the row orientation */
            flex-direction: row;
        }

        .cs-picture {
            /* 300px - 455px */
            width: clamp(18.75rem, 42.5vw, 28.4375rem);
            height: calc(282 / 16 * 1rem);
            /* prevent flexbox from squishing it */
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-12 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(2rem, 3vw, 3.75rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(360 / 16 * 1rem);
            margin: 0;
            padding: 0;
        }

        .cs-picture {
            /* 68px - 88px */
            width: clamp(4.25rem, 7vw, 5.5rem);
            height: clamp(4.25rem, 7vw, 5.5rem);
            margin: auto;
            margin-bottom: calc(32 / 16 * 1rem);
            border-radius: 50%;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                height: calc(42 / 16 * 1rem);
                display: block;
            }
        }

        .cs-h3 {
            font-size: clamp(1rem, -1.5rem + 4vw, 1.25rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.5em;
            min-height: 8rem;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 58rem) {
    #why-choose-12 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-483 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }
        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-text {
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
        }

        .cs-cta {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            text-decoration: none;
            /* 16px - 20px */
            text-align: center;
            /* 141px - 224px */
            width: clamp(8.8125rem, 17vw, 14rem);
            height: clamp(8.8125rem, 17vw, 14rem);
            margin: 0 auto 0 0;
            /* 141px - 224px */
            /* copied the same height clamp and multiplied it by -.5 so the value is negtaive and half the vlaue of height so we cna make it overlap by 50% its height */
            margin-bottom: calc(clamp(8.8125rem, 17vw, 14rem)*-.5);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            border: clamp(12px, 3vw, 20px) solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-self: flex-end;
            position: relative;
            z-index: 10;
            transition: background-color 0.3s;

            &:hover {
                background-color: #14142b;
                .cs-arrow {
                    transform: translateX(3.75rem);
                    opacity: 0;
                }
                .cs-cta-text {
                    transform: translateY(-0.9375rem);
                }
            }
        }

        .cs-arrow {
            width: calc(40/16 * 1rem);
            height: auto;
            transition:
                transform 0.3s,
                opacity 0.3s;
        }

        .cs-cta-text {
            transition: transform 0.3s;
        }

        .cs-content-picture {
            width: 100%;
            height: calc(310/16 * 1rem);
            border-radius: calc(12/16 * 1rem);
            /* clips the img corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
            }
        }

        .cs-grid {
            width: 100%;
            display: grid;
            /* 12 so we can have rows of 3 and rows with 2 50/50 images */
            grid-template-columns: repeat(12, 1fr);
            /* 8px - 20px */
            grid-gap: clamp(0.5rem, 2vw, 1.25rem);
            grid-template-rows: repeat(20, 1fr);
        }

        .cs-picture {
            border-radius: calc(8/16 * 1rem);
            /* clips corners of img tags */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* makes image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            grid-column: 1 / 7;
            grid-row: 1 / 12;
        }
        .cs-picture2 {
            grid-column: 7 / 13;
            grid-row: 1 / 14;
        }
        .cs-picture3 {
            grid-column: 1 / 7;
            grid-row: 12 / 21;
        }
        .cs-picture4 {
            grid-column: 7 / 13;
            grid-row: 14 / 21;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-483 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .cs-content {
            max-width: calc(630/16 * 1rem);
            justify-content: flex-end;
        }

        .cs-text {
            width: 85%;
        }

        .cs-grid {
            width: 50%;
            max-width: calc(630/16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-content-picture {
            /* 229px - 532px */
            height: clamp(14.3125rem, 38vw, 33.25rem);
            aspect-ratio: 1.18;
        }

        .cs-picture1 {
            grid-column: 1 / 7;
            grid-row: 1 / 13;
        }
        .cs-picture2 {
            grid-column: 7 / 13;
            grid-row: 1 / 9;
        }
        .cs-picture3 {
            grid-column: 1 / 7;
            grid-row: 13 / 21;
        }
        .cs-picture4 {
            grid-column: 7 / 13;
            grid-row: 9 / 21;
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-4 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            padding: 0 calc(20 / 16 * 1rem);
            /* 40px - 68px */
            padding-top: clamp(2.5rem, 5.7vw, 4.25rem);
            /* 48px - 80px */
            padding-bottom: clamp(3rem, 6.5vw, 5rem);
            margin: 0;
            background: #fff;
            border-top: 8px solid var(--primaryLight);
            border-radius: calc(5 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(55 / 16 * 1em);
            box-shadow: 0 calc(20 / 16 * 1rem) calc(40 / 16 * 1rem) 0
                rgba(0, 0, 0, 0.05);
            /* prevents padding from adding to the width of the container */
            box-sizing: border-box;
        }

        .cs-item {
            text-align: center;
            list-style: none;
        }

        .cs-number {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 4px - 8px */
            margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
            color: var(--primary);
            display: block;
        }

        .cs-stat-text {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}

/* In-between - 500px */
@media only screen and (min-width: 31.25rem) {
    #stats-4 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: calc(55 / 16 * 1rem);
            column-gap: calc(100 / 16 * 1rem);
        }

        .cs-item {
            /* sets even spacing */
            width: calc(125 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-4 {
        &:before {
            height: 37.5%;
        }

        .cs-card-group {
            max-width: 100%;
            justify-content: space-around;
        }

        .cs-item {
            /* reset width */
            width: auto;
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1458 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* chnages to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            text-align: left;
            max-width: calc(630/16 * 1rem);
        }

        .cs-title {
            /* 20 characters wide including spaces */
            max-width: 20ch;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-self: center;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            padding: 1.25rem 1.25rem 1.25rem 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;
            border-bottom: 1px solid #e8e8e8;

            &.active {
                border-color: var(--primaryLight);
                .cs-button {
                    color: var(--primaryLight);
                    &:before {
                        background-color: var(--primaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    padding-top: calc(16/16 * 1rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            padding: 0;
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(4/16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(1/16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 90%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            max-width: calc(541/16 * 1rem);
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-image-group {
            /* we use ems for everything in the container so they pull their value for em from the font size of this parent instead of the root element (html). This font size scales with the view width of the screen and stops when the font size equals the value of 1em (16px) and stops growing */
            font-size: min(2.43vw, 1em);
            width: calc(598/16 * 1em);
            height: calc(678/16 * 1em);
            display: block;
            position: relative;
        }

        .cs-picture {
            width: calc(522/16 * 1em);
            height: calc(609/16 * 1em);
            top: 0;
            left: 0;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                max-height: 48rem;
                width: 100%;
                object-fit: cover;
                border-radius: calc(24/16 * 1rem);
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1458 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 55%;
        }

        .cs-image-group {
            font-size: min(1.4vw, 1em);
            height: auto;
            min-height: calc(678/16 * 1rem);
        }

        .cs-picture {
            height: 90%;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-864 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: 0.03;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(900 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 20 characters including spaces */
            max-width: 20ch;
        }

        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 32px */
            padding: clamp(1.25rem, 4vw, 2rem);
            background-color: #fff;
            border-radius: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            grid-column: span 12;
            position: relative;
        }

        .cs-flex-group {
            width: 100%;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            padding-bottom: calc(20 / 16 * 1rem);
            border-bottom: 1px solid #fbcebd;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-profile {
            width: calc(64 / 16 * 1rem);
            height: calc(64 / 16 * 1rem);
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: calc(20 / 16 * 1rem);
            max-width: calc(444 / 16 * 1rem);
            color: var(--bodyTextColor);
        }

        .cs-stars {
            width: calc(108 / 16 * 1rem);
            height: auto;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-quote1,
        .cs-quote2 {
            display: none;
            width: calc(194 / 16 * 1rem);
            height: auto;
            display: block;
            position: absolute;
            z-index: -1;
        }

        .cs-quote1 {
            top: 0;
            left: 0;
        }

        .cs-quote2 {
            bottom: 0;
            right: 0;
        }

        .google-review {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .hidden {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-864 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 6;
            &:last-of-type {
                grid-column: span 12;
            }
        }

        .cs-stars {
            margin-top: auto;
        }

        .cs-quote1,
        .cs-quote2 {
            display: block;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-864 {
        .cs-item {
            grid-column: span 4;
            &:last-of-type {
                grid-column: span 4;
            }
        }
    }
}
                                
                                                              
                                                               