/*-- -------------------------- -->
<---         Thank You          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #thank-you {
        padding: var(--sectionPadding);
        min-height: 50vh;
        display: flex;
        align-items: center;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            font-size: clamp(2rem, 5vw, 3rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            font-size: calc(18 / 16 * 1rem);
            line-height: 1.5em;
            margin: 4rem 0 2rem 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            box-sizing: border-box;

            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}
